@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base{
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
         rgba(112, 157, 255, 0.8),
         hsla(242, 74%, 61%, 0.8)
    );
    
}

.home-background{
    background: -moz-linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
}

.my-name{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}

.front-text{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font: 500;
}

.typing-animation{
    animation: blinkCursor 500ms infinite normal,
     typing 4s 3s;
}

.typing-animation-text{
    animation: blinkText 1000ms infinite normal,
     typing 4s 5s infinite;
}

@keyframes blinkText{
    from {
     border-right-color: rgba(255, 255, 255, 0,75);
    }     
    to {
     border-right-color: transparent;
    }
 }


@keyframes blinkCursor{
   from {
    border-right-color: rgba(255, 255, 255, 0,75);
   }     
   to {
    border-right-color: transparent;
   }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 24rem;
    }
}


.pic{
    display: inline-block;
    border-radius: 150px;
    width: 200px;
    max-height: 250px;
    text-align: center;
    margin-bottom: 1rem;
}




.back-color{
        background: linear-gradient(to right, rgba(116, 144, 170, 0.7), rgb(70, 105, 218))
}

.about-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    gap: 10px;
}

.about-btn{
    color: white;
    width: 125px;
    height: 30px;
    border-radius: 10px;
    border: 1px black solid;
    background: linear-gradient(to right, rgba(153, 198, 240, 0.7), rgb(83, 111, 202))
}

.texto{
    margin:0.3rem auto;
    color: white;
    width: 90%;
    align-items: center;
    font-size: 15px;
    max-height: 30%;
}